* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
}
.app{
    width: 60%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*from a単adir*/

.contenedor-a単adir-concepto{
  width: 100%;
  height: 100%;
}

.form-a単adir-concepto{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;

}

.form-a単adir-concepto{
width: 100%;
  display: flex;
}



.input {
  margin-top: 4px;
  color: #ffffff;
  border: 1px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  width: 100%;
  outline: none;
}
 
 .input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
 }
 

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}
  /**/
.contenedor-generar-lista-nombre-conceptos{
    width: 100%;
    height: 40%;
}
.ul-lista-conceptos{
    margin-top: 40px;    
}
  .concepto-coincidente{
    font-size: 15px;
    list-style: none;
    text-align: center;
    padding: 2px 0px;
    background: #171F89;
    border-radius: 10px;
    margin-top: 20px;
    background-size: cover;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px rgba(162, 0, 180, 0.7);
    cursor:pointer;
  }

.concepto-coincidente:hover {
  background: #161634;
  /* opacity: 50%; */
  transition: 0.3s ease-in-out;
  transform: translateY(-10px);
  color: #ffffffcf;
}

  /*--------------------------------------------------------*/

  .span {
    color: white;
}

  

